<form action="/recipes/updateRecipe/{{recipes._id}}" method="POST">
    <input type="text" name="title" value="{{recipes.title}}">
    <input type="text" name="director" value="{{recipes.cuisine}}">
    <input type="text" name="year" value="{{recipes.duration}}">
    <input type="text" name="duration" value="{{recipes.creator}}">
    <button type="submit">Edit</button>
</form>